<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="HelloService.Implementation.HelloService">
        <endpoint
          address="net.tcp://localhost:1669/HelloService"
          binding="netTcpBinding"
          contract="HelloService.Contracts.IHelloService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>